  @import url('https://fonts.googleapis.com/css2?family=Charm:wght@400;700&family=Coiny&display=swap');

  .coiny-regular {
    font-family: "Coiny", system-ui;
    font-weight: 400;
    font-style: normal;
  }

